<ion-view view-title="Eventos" cache-view="false">
  <ion-content>
	
		<div align="center" style="margin-top:40px" ng-show="showEvents">
			<ion-spinner ></ion-spinner>
		</div>
		
		<div ng-show="!showEvents" style="width:100%;heigth:100%">
			<div class="item-thumbnail-left tbtext">
	            <div style="margin-left:-20px;margin-left: -70px;border-bottom: 3px solid black;padding-top:50px">Seus Eventos</div>
	        </div>
	  		
	  		<div ng-repeat="item in items" ng-click="clickGridEvents(item,$index)" style="width:100%;heigth:100%;box-shadow: inset 0 0 5px 2.5px white" >
	  			<div class="itempartty">
		  			<div style="width:100%;height:100%">
					    <img ng-src="{{item.picture}}" style="width:100%;height:100%" no-img  />
					</div>

					<div class="tbtext" style="margin-top:-70px;width:100%">
				    	<div> >{{item.name}}</div>
				    	<div >{{item.start_time | date:'dd/MM/yyyy HH:mm:ss'}}</div>
				    	
				    </div>
				
				</div>
				
				<!--
				<div style="position:absolute;bottom:0;">
				    	<h2 >{{item.name}}</h2>
				    	<h4 >{{item.start_time | date:'dd/MM/yyyy HH:mm:ss'}}</h4>
				    	
				    </div>
				</div>-->
	  		</div>
		</div>


  </ion-content>
</ion-view>
