<ion-view view-title="Eventos" cache-view="false">
  <ion-content>
	
		<div align="center" style="margin-top:40px" ng-show="showEvents">
			<ion-spinner ></ion-spinner>
		</div>
		
		<ion-list>

	  		<ion-item ng-repeat="item in items"
	            class="item-thumbnail-left" ng-click="clickGridEvents(item,$index)">

	    		<div style=" margin-top: 55px;" ng-if="item.type=='label'">
	    			{{item.label == 'meus_eventos' ? 'Meus Eventos' : 'Eventos Recomendados'  }}
				</div>
				
				<div ng-if="item.type=='item'" ng-click="entraEvento(item.id)" style="position:relative">
					<div style="width:100%;height:100%">
				    	<img no-img ng-src="{{item.picture}}" no-img />
				    </div>
				    <div style="position:absolute;bottom:0;">
				    	<h2 >{{item.name}}</h2>
				    	<h4 >{{item.start_time | date:'dd/MM/yyyy HH:mm:ss'}}</h4>
				    	
				    </div>
				</div>
	  		</ion-item>
		</ion-list>


  </ion-content>
</ion-view>
