<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.partty754126" version="0.0.1" android-versionCode="11" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>partty</name>
  <description>&#xD;&#xD;
        An Ionic Framework and Cordova project.&#xD;&#xD;
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">&#xD;&#xD;
      Ionic Framework Team&#xD;&#xD;
    </author>
  <content src="index.html"/>

  <access origin="*" subdomains="true"/>
  <access origin="http://192.168.0.56:8080/*" />

  <allow-navigation href="*"/>

  <allow-intent href="*://*/*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

  <icon src="resources\android\icon\drawable-hdpi-icon.png"/>
</widget>