<ion-view view-title="Login" ng-controller="LoginFBCtrl" cache-view="false" >
  <ion-content scroll="false">
  			<div style="height: 100%;">
          <div style="margin-top:0%">

            <ion-slide-box show-pager="true" style="margin-top:0px">
             
              <ion-slide>
                <div class="box" align="center" style="margin-left:10%; background-size: 100% 320px; background-repeat: no-repeat; background-image: url('img/tinder1.png');max-width:80%;height: auto; min-height: 300px;">
                  <h4 style="font-weight: bold">Como funciona?</h4>
                  <h5>Confirme presença em eventos no Facebook.</h5>
                  <h5>Baixe o aplicativo.</h5>
                  <h5>Curta as pessoas que você achou interessante.</h5>
                  <h5>Comece a conversar e aproveita a festa!</h5>
                  </div>

              </ion-slide>
              
              <ion-slide>
                <div class="box" align="center" style="margin-left:10%; max-width:80%;height: auto; min-height: 290px">
                  <img style="width:60%; height: 300px" src="img/tinder2.png" />
                </div>
              </ion-slide>
              
              <ion-slide>
                <div class="box" align="center" style="margin-left:10%; max-width:80%;height: auto; min-height: 290px">
                  <img style="width:60%; height: 300px" src="img/tinder3.png" />
                </div>
              </ion-slide>
            </ion-slide-box>
          </div>
          <div style="width:100%; margin-top:5px">
    			  <div style="margin-top:0px">
    				  <center>
                  <img style="max-width: 250px; height:auto" src="img/splash.png" />
              </center>
    			  </div>

      			<div style="margin-top:5px;" >
              <center>
                <button ng-click="login()" style="border:none;background:transparent">
                  <img  style="max-width:200px; height:auto; "src="img/facebook-login-blue.png" />
                </button>
              </center>
            </div>
          </div>
  		</div> 
  </ion-content>
</ion-view>    
 