<ion-view view-title="Voce teve um match" ng-controller="MatchesFoundCtrl" >
  <ion-content scroll="false" style="background-color: white; ">
  		<div style="width: 100%;height: 100%;position:relative" align="center" ng-if="showSpinner"><ion-spinner ></ion-spinner></div>
        <div style="width: 100%;height: 100%;position:relative" ng-if="!showSpinner">  
			
			<div style="height: 15%; width:100%;margin-top:0%" align="center">
					<h3 style="width:70%;color:black;font-size:1.2em;font-weight:bold; margin-top:5%">{{nome_do_evento}}</h3>
			</div>
			
			<div id="faixaNewMatch" style="padding-top:5%; padding-bottom:3%;width:100%;display:flex; height:40%">
				<div style="width:50%;" align="center">
					
					<div align="center" >
						<img  src="{{urlMe}}" no-img style="border-radius: 150px; border: solid 1px white;" width="128" height="128"><br/> 
						<span style="margin-top:10px;color:white"><center><p style="font-size: 1em">{{nameMe}}</p></center></span>
					</div>
					
					
				</div>
				
				<div style="width:50%;" align="center">
					<div align="center" >
						<img  src="{{urlInvited}}" no-img style="border-radius: 150px; border: solid 1px white;" width="128" height="128"><br/> 
						<span style="margin-top:10px;color:white"><center><p style="font-size: 1em">{{nameInvited}}</p></center></span>
					</div>
					
					
				</div>
			</div>

			<div id="faixaNewMatch" align="center" style="height:22% ;padding-bottom:0%;padding-top: 0%;margin-top:-15px">
				<p>
					<h4 style="font-size:1.0em; color: white">Você e {{nameInvited}} gostaram ou do outro!</h4>
				</p>
					
				<p >
					<h4 style="font-size:1.0em; color: white">Encontre {{nameInvited}} no evento {{nome_do_evento}}.</h4>
				</p>
					
			</div>

			<div style="width:100%; height: auto; position: absolute; bottom: 15px;">
				<div class="button-bar">
				  <a style="font-size: 16px; color: white;" class="button button-royal" ng-click="voltaMatches()">Voltar Matches</a>
				  <a style="font-size: 16px; color: white;" class="button button-royal" ng-click="conversar()">Conversar</a>
				</div>
			</div>
		</div>	
  </ion-content>
</ion-view>
