<ion-view view-title="Profile" cache-view="false" >
  <ion-content scroll="false">
  			<div ng-show="showSpinner" align="center">
          <ion-spinner ></ion-spinner>
        </div>
        <form novalidate name="profile" class="simple-form" style="font-size:25px" ng-show="!showSpinner">
  					<div align="center">
              <h2>{{perfil.name}}</h2>
            </div>

            <div>
  					   <div style="width:100%;" align="center">
                  <div style="width:128;height:128">
                    <img id="imgPIC1" no-img width="128" heigh="128" ng-src="{{perfil.imgPIC1}}" ng-click="changephoto1()" style="width:128px;height: 128px" />
                  </div>
               </div>
               <div style="display: inline-flex;width:100%;margin-top:10px;align-items: center;
    justify-content: center;" >
                  <div style="width:20%">
                      <div style="width:80px;height:80px">
                        <img id="imgPIC2" no-img width="80" heigh="80" ng-src="{{perfil.imgPIC2}}" ng-click="changephoto2()" style="width:80px;height: 80px" />
                      </div>
                  </div>
                  <div style="width:20%">
                      <div style="width:80px;height:80px">
                        <img id="imgPIC3" no-img width="80" heigh="80" ng-src="{{perfil.imgPIC3}}" ng-click="changephoto3()" style="width:80px;height: 80px" />
                      </div>
                  </div>
                  <div style="width:20%">
                      <div style="width:80px;height:80px">
                        <img id="imgPIC4" no-img width="80" heigh="80" ng-src="{{perfil.imgPIC4}}" ng-click="changephoto4()" style="width:80px;height: 80px" />
                      </div>
                  </div>
                  <div style="width:20%5">
                      <div style="width:80px;height:80px">
                        <img id="imgPIC" no-img width="80" heigh="80" ng-src="{{perfil.imgPIC5}}" ng-click="changephoto5()" style="width:80px;height: 80px" />
                      </div>
                  </div>
                
               </div>
  					</div>
            <div style="width:100%;margin-top:10px">
              <div style="padding-left:20px">
                  Descrição pessoal:
              </div>
              <div style="margin-top:10px">
                  <input type="text" name="desc" ng-model="perfil.descricao" style="width:100%;border-radius: 10px;padding-left:10px" />
              </div>
            </div>
            <div>
  					   <button class="button button-full" ng-click="updateProfile()">Atualizar</button>

               <input type="file" style="display:none" name="webUploadApproach" ng-model="webUploadApproach" accept="image/*" />
            </div>
  			</form>
  </ion-content>
</ion-view>
