<!--<div id="viewport" ng-controller="card-stack-playground" >
	<div id="cardscontainer" style="width=100%;float:bottom;min-height:330px">
	<ul class="stack" >
	    <li
	        
	        ng-repeat="card in cards" class="cardnoanimate {{card.animateclass}}"><div style="float:left;"><img onerror="this.src='img/noimg.png'" style="width:180px;height:282px;float:left;" src="{{card.url}}" /><span style="font-size:18px;float:left;margin-top:-180px;width:180px">{{card.name}}</span><div></li>
	</ul>
	</div>
	<div style="width=100%;position:relative;float:bottom">
		<center>
		<button  style="width:100px;height:100px;"  class="btn btn-primary-matches-no" ng-click="clickRight()">Dislike</button>
		<button style="width:100px;height:100px;" class="btn btn-primary-matches-yah"  ng-click="clickLeft()">Like</button>
		</center>
	</div>
</div>
 -->

 <td-cards control="cardsControl" class="responsive">
	    <td-card class="ruby-tindercard tinder-style-two"
	    ng-repeat="card in cards" 
	    on-destroy="cardDestroyed($index)" 
	    on-transition-left="cardSwipedLeft($index)" 
	    on-transition-right="cardSwipedRight($index)" 
	    on-partial-swipe="cardPartialSwipe(amt)" 
	    class="card-{{$index}}"
	    ui-sref="premiumappOne.tinder-profile({profileID: 1})"
	    >

	      <div class="no-text">NOPE</div>
	      <div class="yes-text">YUP</div>

		<div class="vip-badge" ng-show="card.vipStatus">vip</div>
		<div class="tinder-thumb">
			<img preload-image ng-src="{{card.image}}" default-image="img/demo/loader.svg" fallback-image="img/demo/profile-default.jpg" />
			<!-- <img ng-src="{{card.image}}" /> -->
		</div>
		<div class="padding">
			<h4 class="text-left bold">{{card.title}}</h4>
			<h6 class="text-left small-info">12 miles away | <i class="icon ion-navigate"></i> {{card.location}}</h6>
		</div>

	    </td-card>

	     <div class="button-controls row">
			<div class="reject col">
				<div class="tinder-reject" ng-click="noClick()">
					<i class="ion-close-round"></i>
				</div>
			</div>
			<!-- <div class="info col">
				<div class="tinder-info" ng-click="reload()">
					<i class="ion-refresh"></i>
				</div>
			</div> -->
			<div class="accept col">
				<div class="tinder-accept" ng-click="yesClick()">
					<i class="ion-heart"></i>
				</div>
			</div>
		</div>

	    

	  </td-cards>