 


<ion-view view-title="Macthes" id="matchesView" scroll="false">

  <ion-content>

  		<tabset class="tabsetoverride" >
		    <tab   select="info()">
		    		<tab-heading>
				        <center><i class="glyphicon glyphicon-info-sign"> </i>   </center>
				    </tab-heading>
				    	<div style="width:100%; height:100%">
				    		<div style="width:100%;height:100px;margin-top:10px;border: 1px solid">
				    	<img style='display:none;' ng-src="{{eventinfoJSON.url}}" onerror="this.parentNode.parentNode.style.background = 'url(img/noimg.png) no-repeat';" onload="this.parentNode.parentNode.style.background = 'url({eventinfoJSON.url}) no-repeat'; " />
				    			<br/>
				    			<br/>
				    			<br/>
				    			<br/>
				    			<br/>
				    			{{eventinfoJSON.name}}

				    		</div>
				    	</div>
				    	
		   			
		    </tab>
		    <tab   select="matches()" id="matches" >
		    		<tab-heading>
				        <center><i class="glyphicon glyphicon-glass"> </i></center>
				    </tab-heading>
		   			<div id="includeCards"  style="width:100%; height:100%"></div>
				  
		    </tab>
		    <tab   select="statistics()" disabled="true">
		    		<tab-heading>
				        <center><i class="glyphicon glyphicon-search"> </i></center>
				    </tab-heading>
		   			stats

		    </tab>
		     <tab   select="backtoevents()">
		    		<tab-heading>
				        <center><i class="glyphicon glyphicon-backward"></i> </center> 
				    </tab-heading>
		   			

		    </tab>

		    
		  </tabset>

  </ion-content>
</ion-view>
