<ion-view view-title="Configurações" cache-view="false" >
  <ion-content scroll="false">
      <div ng-if="showspiner">
        <center><ion-spinner ></ion-spinner></center>
      </div>
      <div ng-if="!showspiner">
      		<form novalidate name="configurations">
      			<div class="item" style="width:100%;margin-top:10px">		
      				<div>Eu sou :</div>

      				<div class="btn-group" style="width:100%;">
                  <ion-radio  ng-value="'man'"   ng-model="iam" ng-change="updateIam('man')">Homen</ion-radio>
                  <ion-radio  ng-value="'woman'" ng-model="iam" ng-change="updateIam('woman')">Mulher</ion-radio>
            
                   
        			</div>
        		</div>
    			<div class="item" >
    				<div>Estou procurando por:</div>
    				<div class="btn-group" style="width:100%;margin-top:10px">

    				       <ion-checkbox ng-repeat="item in lookingfor" ng-model="item.checked" ng-checked="item.checked">
              					{{ item.text }}
            			   </ion-checkbox>
    				</div>
    			</div>
    			<div style="margin-top:10px">
    				<center>
    					<button ng-click="atualizaPreferencias()" class="btn btn-primary">Atualizar informaçoes</button>
    				</center>
      			</div>
      		</form>
      </div>
  </ion-content>
</ion-view>
