<ion-side-menus  enable-menu-with-back-views="false" hide-back-button="true" cache-view="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" id="menuAPP" >
      
      <!-- menu-toggle="left"  menu-toggle="right" -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-controller="AppCtrl" ng-click="toggleLeftSideMenu()">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
	    <button class="button button-icon button-clear ion-ios-chatboxes-outline" ng-controller="AppCtrl" ng-click="toggleRightSideMenu()">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    
    <ion-content scroll="false">
      <br/> <br/>
      <ion-list >
        <ion-item nav-clear menu-close ng-click="profile()" >
         
          <div class="flexcontainer">
            <div id="profileCover">
              <img src='' no-img style='border-radius: 40px;border: 1px solid white;' no-img width='64' heigth='64' />
            </div>
            <div class="tbtext">Profile</div>
          </div>


        </ion-item>
        
        <ion-item nav-clear menu-close ng-click="events()">
                <div class="flexcontainer">
                  <div>
                      <img src='img/event_button.png' no-img style='border-radius: 40px;' no-img width='64' heigth='64' />
                  </div>
                  <div class="tbtext">Eventos</div>
                </div>

        </ion-item>
        <ion-item nav-clear menu-close ng-click="configurations()">
              <div class="flexcontainer">
                  <div>
                      <img src='img/setting_icon.png' no-img style='border-radius: 40px;' no-img width='64' heigth='64' />
                  </div>
                  <div class="tbtext">Config</div>
                </div>
        </ion-item>
        <ion-item nav-clear menu-close ng-click="logout()">
          <div class="flexcontainer">
                  <div>
                      <img src='img/logout.png' no-img style='border-radius: 40px;' no-img width='64' heigth='64' />
                  </div>
                  <div class="tbtext">Loggout</div>
                </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable" style="border-bottom: solid 3px; border-color: #43DBE1">
		<div class="bar bar-header item-input-inset" style="height:44px; width:100%; margin-bottom:20%;">
			<label class="item-input-wrapper" style="height:100%; width:100%; display: inline-block;">
				<input type="search" placeholder="Procurar">
			</label>
			<button class="button button-clear" style="color: black; font-size:14px; padding-top: 4px">Cancel</button>
	    </div> 
    </ion-header-bar>
    <ion-content id="friendlistload">
      
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
