<ion-view view-title="{{chatNameUsr}}">
  <ion-content id="chatView">


	<ion-list>
	        
	        <ion-item id="logmessage" ng-repeat="log in $root.logset" >
	         	{{log}} 	
	        </ion-item>
	        
	 </ion-list>
	 
	  <div style="width:100%;position:absolute" id="msnBox" >
      <input type="text" style="    width: 100%;
    float: left;" id="sendmessageTxtID" ng-model="msnboxtext" class="form-control" value="Digite aqui sua mensagem!" />

      <button style="float:right;margin-top:-33px;height:46px" class="btn btn-primary-matches-yah" ng-click="sendMessage()">Enviar</button>
    	
    </div>
  </ion-content>
</ion-view>
